
/*
    Title of the table header
*/
th {
    font-size: 0.9rem !important;
	border-bottom: solid 1px #222;
    font-weight: bold !important;
    color: var(--color-text) !important;
    padding-bottom: 3px;
}
/*
    Rows of the table content
*/
td {
    margin-left: 10px;
    font-size: 0.9rem;
    line-height: 25px;
}
/*
    LEFT COLUMN of the table content
*/
.ColLeft {
    text-align: left;
    font-size: 0.9rem;
    color: #fff;
}
/*
    CENTER COLUMN of the table content
*/
.ColCenter {
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}
/*
    RIGHT COLUMN of the table content
*/
.ColRight {
    text-align: right;
}
